# Dependencies
node_modules/

# Build
public/
dist/

# User data
sites/*
!sites/.gitkeep
*.db
*.sqlite
*.sqlite3
data/*
!data/.gitkeep
!data/schema.sql
.ssh/

# Environment
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp
*.swo
*~