services:
  app:
    build: .
    ports:
      - "3000:3000"
    env_file:
      - .env
    volumes:
      - ./sites:/app/sites
      - ./data:/app/data
      - ssh-data:/app/.ssh

volumes:
  ssh-data:
