<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/admin/assets/css/suse/suse.css">
  <link rel="stylesheet" href="/admin/assets/css/dm-mono/dm-mono.css">
  <link rel="stylesheet" href="/admin/assets/css/style.css">
  <link rel="stylesheet" href="/admin/assets/css/file-explorer.css" />
  <title>Cute Magick</title>

  <link rel="icon" type="image/png" href="/admin/assets/img/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/svg+xml" href="/admin/assets/img/favicon.svg">
  <link rel="shortcut icon" href="/admin/assets/img/favicon.ico">
  <link rel="apple-touch-icon" sizes="180x180" href="/admin/assets/img/apple-touch-icon.png">
  <meta name="apple-mobile-web-app-title" content="Cute Magick">
  <link rel="manifest" href="/admin/assets/img/site.webmanifest">
  <meta name="csrf-token" content="{{csrfToken}}">
</head>
<body class="flex-col lg:h-svh justify-between flex text-gray-900 dark:text-white">
  <header class="z-10 px-1 relative">
    <div class="font-semibold p-4 w-full inline-flex large:text-lg gap-4 lg:gap-6 justify-between items-center">
      <nav class="inline-flex text-sm lg:text-base items-center gap-4 lg:gap-6">
        <button
hx-on:click="
          let nameOrUrl = prompt('Enter site name (or Git repo URL):');
          if (!nameOrUrl) return;
          const gitUrlRegex = /^(git@[\w.-]+:[\w./~-]+\.git|https?:\/\/[\w.-]+\/[\w./~-]+\.git)$/;
          if (nameOrUrl.startsWith('http://') || nameOrUrl.startsWith('https://')) {
            nameOrUrl = prompt('Enter an SSH URL');
            if (!gitUrlRegex.test(nameOrUrl)) {
              alert('Invalid Git URL');
              return;
            }
          }
          if (!nameOrUrl) return;
          this.setAttribute('aria-busy', 'true');
          
          const handler = (evt) => {
            if (evt.detail.successful) {
              htmx.trigger(document.body, 'refreshSites');
            } else {
              alert(`Sorry, that didn't work. Make sure you've added the Cute Magick key to your Git server (top right button) and try again.`);
            }
            this.removeAttribute('aria-busy');
            document.body.removeEventListener('htmx:afterRequest', handler);
          };
          
          document.body.addEventListener('htmx:afterRequest', handler);
          
          htmx.ajax('POST', '/admin/sites', {
            values: { nameOrUrl },
            swap: 'none'
          });
        "
        class="btn py-1! light-loader rainbow-tiler border-0! lg:px-4! text-black!">New Site</button>
      </nav>
      <nav class="inline-flex text-sm lg:text-base gap-4 lg:gap-6">
        <div
          class="cursor-pointer select-none"
          data-action="copy-key"
        >
          🔌 Connect
        </div>
        <a href="/admin/account/logout">🚪 Log Out</a>
      </nav>
    </div>
  </header>
  {{{body}}}
  <main class="z-10 lg:fixed lg:right-0" id="windows">
  </main>
  <div id="review-panel-container"></div>
  <div class="bg-subtle-rainbow fixed w-full h-full inset-0 -z-1"></div>
  <div hx-trigger="refreshBackground from:body" hx-swap="outerHTML" id="background" class="bg-cover bg-center bg-no-repeat fixed w-full h-full inset-0 -z-1"></div>
  <script src="/admin/assets/js/csrfFetch.js"></script>
  <script src="/admin/assets/js/popper.js"></script>
  <script src="/admin/assets/js/tippy.js"></script>
  <script src="/admin/assets/js/htmx.min.js"></script>
  <script src="/admin/assets/js/DraggableWindows.js"></script>
  <script src="/admin/assets/js/file-explorer.js"></script>
  <script src="/admin/assets/js/mount-file-explorer.js" ></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.32.2/ace.js"></script>
  <script src="/admin/assets/js/mount-code-editor.js"></script>
  <script src="/admin/assets/js/save-file.js"></script>
  <script src="/admin/assets/js/secrets-management.js"></script>
  <script src="/admin/assets/js/settings-management.js"></script>
  <script src="/admin/assets/js/tippy-init.js"></script>
  <script src="/admin/assets/js/copy-key.js"></script>
  <script src="/admin/assets/js/tab-switching.js"></script>
  <script src="/admin/assets/js/site-window.js"></script>
  <script src="/admin/assets/js/time-machine.js"></script>
  <script src="/admin/assets/js/htmx-error-handler.js"></script>
  <script src="/admin/assets/js/site-commit-handler.js"></script>
<template id="secretRow" class="flex flex-col gap-4">
  <div class="flex gap-2 secret-row pb-3">
    <div
      class="grid flex-1 grid-cols-1 md:grid-cols-2 gap-3 items-center
             rounded-md
             bg-white/50 dark:bg-gray-900/50"
    >
      <input
        type="text"
        name="key"
        placeholder="NEW_SECRET_NAME"
        class="font-mono bg-transparent
               border-b border-gray-400 dark:border-gray-700
               focus:outline-none focus:border-indigo-400"
      />

      <input
        type="password"
        name="value"
        placeholder="value"
        class="font-mono bg-transparent
               border-b border-gray-400 dark:border-gray-700
               focus:outline-none focus:border-indigo-400"
      />
    </div>

    <button
      type="button"
      class="remove p-1 size-6 text-lg
             border border-gray-400 dark:border-gray-700
             rounded-full rotate-45
             flex items-center justify-center"
      title="Remove secret"
    >
      +
    </button>
  </div>
</template>
<script src="/admin/assets/js/preferences.js"></script>
<script src="/admin/assets/js/admin-prefs-menu.js"></script>
<script src="/admin/assets/js/archive-menu.js"></script>
<script src="/admin/assets/js/review-panel.js"></script>

</body>
</html>