/* dm-mono */
@font-face {
	font-family: "DM Mono";
	font-style: normal;
	font-weight: 400;
	font-stretch: 100%;
	src: local("DM Mono Regular"), local("DMMono-Regular"), url(dm-mono.woff2) format("woff2");
	font-display: swap;
}
/* dm-mono-italic */
@font-face {
	font-family: "DM Mono";
	font-style: italic;
	font-weight: 400;
	font-stretch: 100%;
	src: local("DM Mono Italic"), local("DMMono-Italic"), url(dm-mono-italic.woff2) format("woff2");
	font-display: swap;
}

