<div data-current-table="{{table}}" data-site-uuid="{{siteUUID}}" data-db-path="{{dbPath}}">
  <figure>
    <table class="striped">
      <colgroup>
        <col />
        {{#each columns}}
          <col style="width: 240px;" />
        {{/each}}
      </colgroup>
      <thead>
        <tr>
          <th scope="col"></th>
          {{#each columns}}
          <th scope="col">{{this}}</th>
          {{/each}}
        </tr>
      </thead>
      <tbody>
        {{#each rows}}
        <tr>
          <td>
            <button
              hx-post="/sites/{{@root.siteUUID}}/database/row/delete"
              hx-vals='{"path": "{{@root.dbPath}}", "table": "{{@root.table}}", "rowIndex": "{{@index}}"}'
              hx-confirm="Delete this row?"
              hx-target="closest tr"
              hx-swap="outerHTML swap"
              class="outline"
            >
              🗑️
            </button>
          </td>
          {{#each ../columns}}
          <td title="{{lookup ../this this}}">
            {{lookup ../this this}}
          </td>
          {{/each}}
        </tr>
        {{/each}}
      </tbody>
    </table>
  </figure>
</div>