<div id="{{id}}" class="mt-4 lg:mt-0 lg:h-130 w-full lg:w-2xl relative window-wrapper window" data-window-kind="file"
data-path="{{path}}"
data-file-hash="{{fileHash}}"
 data-site-uuid="{{siteUUID}}">
  <div class="window-handle h-full">
    <div class="flex items-center justify-between">
      <h2 class="text-sm">
  <span
    data-file-name
    data-path="{{path}}"
  >{{title}}</span>
  <span class="opacity-60"> - {{siteName}}</span>
</h2>
      <div class="flex items-center gap-2 text-2xl">
        <button type="button" class="minimize text-gray-400 py-1 -top-1 pl-6 pr-2 font-bold relative">&ndash;</button>
        <button type="button" class="hide text-rose-500 dark:text-pink pb-1 pl-2 font-bold relative">&times;</button>
      </div>
    </div>
  </div>
  <div class="lg:absolute top-12 left-0 w-full hide-when-minimized py-2 lg:px-3">
    <div class="flex flex-col overflow-hidden card p-0! shadow-none! border-gray-400! dark:border-gray-700! border!">
      <div class="">
        <div
        class="flex items-center gap-2 px-2 py-2 border-b border-gray-400 dark:border-gray-700 text-sm"
        >
        <div class="flex gap-1 items-center">
          <a href="#" target="_blank">🌍</a>
          <span>
  /
  <span data-file-path-display>{{path}}</span>
</span>
        </div>
        <div class="flex items-center gap-4 ml-auto">
          <button
  type="button"
  id="preview-btn"
  data-role="preview"
  data-preview-href="/preview/{{directory}}/{{path}}"
>
  👀 Preview
</button>

        <div
        id="save-draft-{{id}}"
        class="btn-primary cursor-pointer"
        type="button"
        >
        ☁️ Save Draft
      </div>
    </div>
  </div>
    <div class="flex-1">

  <div
  data-file-path="{{path}}"
     data-language="{{language}}" class="editor h-103 overflow-auto">{{content}}</div>
  </div>
  </div>
  </div>
  </div>
</div>