<div id="{{id}}" class="mt-4 lg:mt-0 lg:h-130 w-full lg:w-2xl relative window-wrapper window" data-window-kind="file"
data-path="{{path}}"
 data-site-uuid="{{siteUUID}}">
  <div class="window-handle h-full">
    <div class="flex items-center justify-between">
      <h2 class="text-sm">{{title}}</h2>
      <div class="flex items-center gap-2 text-lg">
        <button type="button" class="minimize text-gray-400 py-1 -top-px pl-6 pr-2 font-bold relative">&ndash;</button>
        <button type="button" class="hide text-pink py-1 pl-2 font-bold relative">&times;</button>
      </div>
    </div>
  </div>
  <div class="lg:absolute top-12 left-0 w-full hide-when-minimized py-2 lg:px-3">
    <div class="flex flex-col overflow-hidden card p-0! shadow-none! border-gray-200! dark:border-gray-700! border!">
      <div class="">
        <div
        id="site-toolbar"
        class="flex items-center gap-2 px-2 py-2 border-b border-gray-200 dark:border-gray-700 text-sm"
        >
        <div class="flex items-center">
          <span>🌍</span>
        </div>
        <div class="flex items-center gap-4 ml-auto">
          <button
          id="preview-btn"
          class="btn-secondary opacity-50"
          type="button"
          data-tippy-content="Make changes to preview"
          >
          👁 Preview
        </button>
        <button
        id="publish-btn"
        class="btn-primary"
        type="button"
        >
        ☁️ Save Draft
      </button>
    </div>
  </div>
    <div class="flex-1">

  <div
  data-file-path="{{path}}"
     data-language="{{language}}" class="editor h-103 overflow-auto">{{content}}</div>
  </div>
  </div>
  </div>
  </div>
</div>