 
  
  
<div class="relative flex items-center gap-4 py-2 rounded-md hover:bg-gray-50 dark:hover:bg-gray-800">
  
  <!-- timeline -->
  <div class="relative flex flex-col items-center w-6 shrink-0">
    <span class="timeline-dot size-3 rounded-full border-gray-600 dark:border-gray-300 border-dashed border-[1.5px]"></span>
    
    <span class="absolute top-3 bottom-0 w-px border-l border-dashed border-gray-400 dark:border-gray-600"></span>
  </div>
  
  <!-- content -->
  <div class="flex items-center gap-4 flex-1 min-w-0">
    <div class="flex-1 min-w-0">
      <div class="truncate ">
        add lua
      </div>
      
      <div class="text-sm text-gray-500 dark:text-gray-400 mt-0.5">
        <time datetime="2026-01-30 16:56:50 -0800">
          2026-01-30 16:56:50 -0800
        </time>
      </div>
    </div>
    
    <div class="hidden">
      <a aria-label="Preview this version" href="/preview/cutemagick-homepage/e67deb472e7df6f3a561e0097471cef778a0a99d" target="_blank" data-history-action="preview" data-commit="e67deb472e7df6f3a561e0097471cef778a0a99d" data-tippy-content="Preview this version">
        👀
      </a>
      
      
      <button aria-label="Restore as draft" data-history-action="restore-draft" data-site="d1eba35a-198b-4724-8809-86082683f1d8" data-commit="e67deb472e7df6f3a561e0097471cef778a0a99d" data-tippy-content="Restore this point in time as a draft" hx-post="/sites/d1eba35a-198b-4724-8809-86082683f1d8/restore" hx-confirm="Are you sure? (This is non-destructive.)" hx-vals="{&quot;commit&quot;:&quot;e67deb472e7df6f3a561e0097471cef778a0a99d&quot;}" hx-on::after-request="
      const status = event.detail.xhr.status;
      
      if (status &lt; 200 || status &gt;= 300) {
        alert('That didn\'t work...');
        return;
      }
      
      alert('Draft restored. Check out your files');
      
      const siteId = this.dataset.site;
      const siteRoot = document.querySelector('#' + siteId);
      const filesTab = siteRoot?.querySelector('button[data-tab=&quot;files&quot;]');
      
      filesTab?.click();
      ">
      ⏪️
    </button>
    
    
    
    
  </div>
</div>
</div>
<div class="relative flex items-center gap-4 py-2 rounded-md hover:bg-gray-50 dark:hover:bg-gray-800">
  
  <!-- timeline -->
  <div class="relative flex flex-col items-center w-6 shrink-0">
    <span class="timeline-dot size-3 rounded-full border-gray-600 dark:border-gray-300 border-dashed border-[1.5px]"></span>
    
    <span class="absolute top-3 bottom-0 w-px border-l border-dashed border-gray-400 dark:border-gray-600"></span>
  </div>
  
  <!-- content -->
  <div class="flex items-center gap-4 flex-1 min-w-0">
    <div class="flex-1 min-w-0">
      <div class="truncate ">
        coming soon button
      </div>
      
      <div class="text-sm text-gray-500 dark:text-gray-400 mt-0.5">
        <time datetime="2026-01-27 16:36:57 -0800">
          2026-01-27 16:36:57 -0800
        </time>
      </div>
    </div>
    
    <div class="hidden">
      <a aria-label="Preview this version" href="/preview/cutemagick-homepage/3def5a436219af7911b000f1400e33acfc1929c3" target="_blank" data-history-action="preview" data-commit="3def5a436219af7911b000f1400e33acfc1929c3" data-tippy-content="Preview this version">
        👀
      </a>
      
      
      <button aria-label="Restore as draft" data-history-action="restore-draft" data-site="d1eba35a-198b-4724-8809-86082683f1d8" data-commit="3def5a436219af7911b000f1400e33acfc1929c3" data-tippy-content="Restore this point in time as a draft" hx-post="/sites/d1eba35a-198b-4724-8809-86082683f1d8/restore" hx-confirm="Are you sure? (This is non-destructive.)" hx-vals="{&quot;commit&quot;:&quot;3def5a436219af7911b000f1400e33acfc1929c3&quot;}" hx-on::after-request="
      const status = event.detail.xhr.status;
      
      if (status &lt; 200 || status &gt;= 300) {
        alert('That didn\'t work...');
        return;
      }
      
      alert('Draft restored. Check out your files');
      
      const siteId = this.dataset.site;
      const siteRoot = document.querySelector('#' + siteId);
      const filesTab = siteRoot?.querySelector('button[data-tab=&quot;files&quot;]');
      
      filesTab?.click();
      ">
      ⏪️
    </button>
    
    
    
    
  </div>
</div>
</div>
<div class="relative flex items-center gap-4 py-2 rounded-md hover:bg-gray-50 dark:hover:bg-gray-800">
  
  <!-- timeline -->
  <div class="relative flex flex-col items-center w-6 shrink-0">
    <span class="timeline-dot size-3 rounded-full border-gray-600 dark:border-gray-300 border-dashed border-[1.5px]"></span>
    
    <span class="absolute top-3 bottom-0 w-px border-l border-dashed border-gray-400 dark:border-gray-600"></span>
  </div>
  
  <!-- content -->
  <div class="flex items-center gap-4 flex-1 min-w-0">
    <div class="flex-1 min-w-0">
      <div class="truncate ">
        new screenshot
      </div>
      
      <div class="text-sm text-gray-500 dark:text-gray-400 mt-0.5">
        <time datetime="2026-01-27 16:36:08 -0800">
          2026-01-27 16:36:08 -0800
        </time>
      </div>
    </div>
    
    <div class="hidden">
      <a aria-label="Preview this version" href="/preview/cutemagick-homepage/cde63a370325de7bd80c9491d8cf72ecf5c602a3" target="_blank" data-history-action="preview" data-commit="cde63a370325de7bd80c9491d8cf72ecf5c602a3" data-tippy-content="Preview this version">
        👀
      </a>
      
      
      <button aria-label="Restore as draft" data-history-action="restore-draft" data-site="d1eba35a-198b-4724-8809-86082683f1d8" data-commit="cde63a370325de7bd80c9491d8cf72ecf5c602a3" data-tippy-content="Restore this point in time as a draft" hx-post="/sites/d1eba35a-198b-4724-8809-86082683f1d8/restore" hx-confirm="Are you sure? (This is non-destructive.)" hx-vals="{&quot;commit&quot;:&quot;cde63a370325de7bd80c9491d8cf72ecf5c602a3&quot;}" hx-on::after-request="
      const status = event.detail.xhr.status;
      
      if (status &lt; 200 || status &gt;= 300) {
        alert('That didn\'t work...');
        return;
      }
      
      alert('Draft restored. Check out your files');
      
      const siteId = this.dataset.site;
      const siteRoot = document.querySelector('#' + siteId);
      const filesTab = siteRoot?.querySelector('button[data-tab=&quot;files&quot;]');
      
      filesTab?.click();
      ">
      ⏪️
    </button>
    
    
    
    
  </div>
</div>
</div>
<div class="relative flex items-center gap-4 py-2 rounded-md hover:bg-gray-50 dark:hover:bg-gray-800">
  
  <!-- timeline -->
  <div class="relative flex flex-col items-center w-6 shrink-0">
    <span class="timeline-dot size-3 rounded-full border-gray-600 dark:border-gray-300 border-dashed border-[1.5px]"></span>
    
    <span class="absolute top-3 bottom-0 w-px border-l border-dashed border-gray-400 dark:border-gray-600"></span>
  </div>
  
  <!-- content -->
  <div class="flex items-center gap-4 flex-1 min-w-0">
    <div class="flex-1 min-w-0">
      <div class="truncate ">
        q&amp;a update
      </div>
      
      <div class="text-sm text-gray-500 dark:text-gray-400 mt-0.5">
        <time datetime="2026-01-27 13:37:31 -0800">
          2026-01-27 13:37:31 -0800
        </time>
      </div>
    </div>
    
    <div class="hidden">
      <a aria-label="Preview this version" href="/preview/cutemagick-homepage/e20fa4b30d780aa06e2367c57e0b577b2853231a" target="_blank" data-history-action="preview" data-commit="e20fa4b30d780aa06e2367c57e0b577b2853231a" data-tippy-content="Preview this version">
        👀
      </a>
      
      
      <button aria-label="Restore as draft" data-history-action="restore-draft" data-site="d1eba35a-198b-4724-8809-86082683f1d8" data-commit="e20fa4b30d780aa06e2367c57e0b577b2853231a" data-tippy-content="Restore this point in time as a draft" hx-post="/sites/d1eba35a-198b-4724-8809-86082683f1d8/restore" hx-confirm="Are you sure? (This is non-destructive.)" hx-vals="{&quot;commit&quot;:&quot;e20fa4b30d780aa06e2367c57e0b577b2853231a&quot;}" hx-on::after-request="
      const status = event.detail.xhr.status;
      
      if (status &lt; 200 || status &gt;= 300) {
        alert('That didn\'t work...');
        return;
      }
      
      alert('Draft restored. Check out your files');
      
      const siteId = this.dataset.site;
      const siteRoot = document.querySelector('#' + siteId);
      const filesTab = siteRoot?.querySelector('button[data-tab=&quot;files&quot;]');
      
      filesTab?.click();
      ">
      ⏪️
    </button>
    
    
    
    
  </div>
</div>
</div>
<div class="relative flex items-center gap-4 py-2 rounded-md hover:bg-gray-50 dark:hover:bg-gray-800">
  
  <!-- timeline -->
  <div class="relative flex flex-col items-center w-6 shrink-0">
    <span class="timeline-dot size-3 rounded-full border-gray-600 dark:border-gray-300 border-dashed border-[1.5px]"></span>
    
    <span class="absolute top-3 bottom-0 w-px border-l border-dashed border-gray-400 dark:border-gray-600"></span>
  </div>
  
  <!-- content -->
  <div class="flex items-center gap-4 flex-1 min-w-0">
    <div class="flex-1 min-w-0">
      <div class="truncate ">
        updated hero copy
      </div>
      
      <div class="text-sm text-gray-500 dark:text-gray-400 mt-0.5">
        <time datetime="2026-01-27 13:10:34 -0800">
          2026-01-27 13:10:34 -0800
        </time>
      </div>
    </div>
    
    <div class="hidden">
      <a aria-label="Preview this version" href="/preview/cutemagick-homepage/5f814aff22cc11f147af1cfb8115295cd6116cd2" target="_blank" data-history-action="preview" data-commit="5f814aff22cc11f147af1cfb8115295cd6116cd2" data-tippy-content="Preview this version">
        👀
      </a>
      
      
      <button aria-label="Restore as draft" data-history-action="restore-draft" data-site="d1eba35a-198b-4724-8809-86082683f1d8" data-commit="5f814aff22cc11f147af1cfb8115295cd6116cd2" data-tippy-content="Restore this point in time as a draft" hx-post="/sites/d1eba35a-198b-4724-8809-86082683f1d8/restore" hx-confirm="Are you sure? (This is non-destructive.)" hx-vals="{&quot;commit&quot;:&quot;5f814aff22cc11f147af1cfb8115295cd6116cd2&quot;}" hx-on::after-request="
      const status = event.detail.xhr.status;
      
      if (status &lt; 200 || status &gt;= 300) {
        alert('That didn\'t work...');
        return;
      }
      
      alert('Draft restored. Check out your files');
      
      const siteId = this.dataset.site;
      const siteRoot = document.querySelector('#' + siteId);
      const filesTab = siteRoot?.querySelector('button[data-tab=&quot;files&quot;]');
      
      filesTab?.click();
      ">
      ⏪️
    </button>
    
    
    
    
  </div>
</div>
</div>
<div class="relative flex items-center gap-4 py-2 rounded-md hover:bg-gray-50 dark:hover:bg-gray-800">
  
  <!-- timeline -->
  <div class="relative flex flex-col items-center w-6 shrink-0">
    <span class="timeline-dot size-3 rounded-full border-gray-600 dark:border-gray-300 border-dashed border-[1.5px]"></span>
    
    <span class="absolute top-3 bottom-0 w-px border-l border-dashed border-gray-400 dark:border-gray-600"></span>
  </div>
  
  <!-- content -->
  <div class="flex items-center gap-4 flex-1 min-w-0">
    <div class="flex-1 min-w-0">
      <div class="truncate ">
        update pricing bullets order
      </div>
      
      <div class="text-sm text-gray-500 dark:text-gray-400 mt-0.5">
        <time datetime="2026-01-27 13:02:56 -0800">
          2026-01-27 13:02:56 -0800
        </time>
      </div>
    </div>
    
    <div class="hidden">
      <a aria-label="Preview this version" href="/preview/cutemagick-homepage/c869fc7921c7aff6bba6fe90e02b1b7fe391e811" target="_blank" data-history-action="preview" data-commit="c869fc7921c7aff6bba6fe90e02b1b7fe391e811" data-tippy-content="Preview this version">
        👀
      </a>
      
      
      <button aria-label="Restore as draft" data-history-action="restore-draft" data-site="d1eba35a-198b-4724-8809-86082683f1d8" data-commit="c869fc7921c7aff6bba6fe90e02b1b7fe391e811" data-tippy-content="Restore this point in time as a draft" hx-post="/sites/d1eba35a-198b-4724-8809-86082683f1d8/restore" hx-confirm="Are you sure? (This is non-destructive.)" hx-vals="{&quot;commit&quot;:&quot;c869fc7921c7aff6bba6fe90e02b1b7fe391e811&quot;}" hx-on::after-request="
      const status = event.detail.xhr.status;
      
      if (status &lt; 200 || status &gt;= 300) {
        alert('That didn\'t work...');
        return;
      }
      
      alert('Draft restored. Check out your files');
      
      const siteId = this.dataset.site;
      const siteRoot = document.querySelector('#' + siteId);
      const filesTab = siteRoot?.querySelector('button[data-tab=&quot;files&quot;]');
      
      filesTab?.click();
      ">
      ⏪️
    </button>
    
    
    
    
  </div>
</div>
</div>
<div class="relative flex items-center gap-4 py-2 rounded-md hover:bg-gray-50 dark:hover:bg-gray-800">
  
  <!-- timeline -->
  <div class="relative flex flex-col items-center w-6 shrink-0">
    <span class="timeline-dot size-3 rounded-full border-gray-600 dark:border-gray-300 border-dashed border-[1.5px]"></span>
    
    <span class="absolute top-3 bottom-0 w-px border-l border-dashed border-gray-400 dark:border-gray-600"></span>
  </div>
  
  <!-- content -->
  <div class="flex items-center gap-4 flex-1 min-w-0">
    <div class="flex-1 min-w-0">
      <div class="truncate ">
        updated pricing copy
      </div>
      
      <div class="text-sm text-gray-500 dark:text-gray-400 mt-0.5">
        <time datetime="2026-01-27 13:00:03 -0800">
          2026-01-27 13:00:03 -0800
        </time>
      </div>
    </div>
    
    <div class="hidden">
      <a aria-label="Preview this version" href="/preview/cutemagick-homepage/bc5b5191b32c3f5628b31db9c22cbfa7e7540a1e" target="_blank" data-history-action="preview" data-commit="bc5b5191b32c3f5628b31db9c22cbfa7e7540a1e" data-tippy-content="Preview this version">
        👀
      </a>
      
      
      <button aria-label="Restore as draft" data-history-action="restore-draft" data-site="d1eba35a-198b-4724-8809-86082683f1d8" data-commit="bc5b5191b32c3f5628b31db9c22cbfa7e7540a1e" data-tippy-content="Restore this point in time as a draft" hx-post="/sites/d1eba35a-198b-4724-8809-86082683f1d8/restore" hx-confirm="Are you sure? (This is non-destructive.)" hx-vals="{&quot;commit&quot;:&quot;bc5b5191b32c3f5628b31db9c22cbfa7e7540a1e&quot;}" hx-on::after-request="
      const status = event.detail.xhr.status;
      
      if (status &lt; 200 || status &gt;= 300) {
        alert('That didn\'t work...');
        return;
      }
      
      alert('Draft restored. Check out your files');
      
      const siteId = this.dataset.site;
      const siteRoot = document.querySelector('#' + siteId);
      const filesTab = siteRoot?.querySelector('button[data-tab=&quot;files&quot;]');
      
      filesTab?.click();
      ">
      ⏪️
    </button>
    
    
    
    
  </div>
</div>
</div>
<div class="relative flex items-center gap-4 py-2 rounded-md hover:bg-gray-50 dark:hover:bg-gray-800">
  
  <!-- timeline -->
  <div class="relative flex flex-col items-center w-6 shrink-0">
    <span class="timeline-dot size-3 rounded-full border-gray-600 dark:border-gray-300 border-dashed border-[1.5px]"></span>
    
    <span class="absolute top-3 bottom-0 w-px border-l border-dashed border-gray-400 dark:border-gray-600"></span>
  </div>
  
  <!-- content -->
  <div class="flex items-center gap-4 flex-1 min-w-0">
    <div class="flex-1 min-w-0">
      <div class="truncate ">
        pricing update
      </div>
      
      <div class="text-sm text-gray-500 dark:text-gray-400 mt-0.5">
        <time datetime="2026-01-27 12:56:45 -0800">
          2026-01-27 12:56:45 -0800
        </time>
      </div>
    </div>
    
    <div class="hidden">
      <a aria-label="Preview this version" href="/preview/cutemagick-homepage/3c8327093001f2a980abbd474003a066c6297266" target="_blank" data-history-action="preview" data-commit="3c8327093001f2a980abbd474003a066c6297266" data-tippy-content="Preview this version">
        👀
      </a>
      
      
      <button aria-label="Restore as draft" data-history-action="restore-draft" data-site="d1eba35a-198b-4724-8809-86082683f1d8" data-commit="3c8327093001f2a980abbd474003a066c6297266" data-tippy-content="Restore this point in time as a draft" hx-post="/sites/d1eba35a-198b-4724-8809-86082683f1d8/restore" hx-confirm="Are you sure? (This is non-destructive.)" hx-vals="{&quot;commit&quot;:&quot;3c8327093001f2a980abbd474003a066c6297266&quot;}" hx-on::after-request="
      const status = event.detail.xhr.status;
      
      if (status &lt; 200 || status &gt;= 300) {
        alert('That didn\'t work...');
        return;
      }
      
      alert('Draft restored. Check out your files');
      
      const siteId = this.dataset.site;
      const siteRoot = document.querySelector('#' + siteId);
      const filesTab = siteRoot?.querySelector('button[data-tab=&quot;files&quot;]');
      
      filesTab?.click();
      ">
      ⏪️
    </button>
    
    
    
    
  </div>
</div>
</div>
<div class="relative flex items-center gap-4 py-2 rounded-md hover:bg-gray-50 dark:hover:bg-gray-800">
  
  <!-- timeline -->
  <div class="relative flex flex-col items-center w-6 shrink-0">
    <span class="timeline-dot size-3 rounded-full border-gray-600 dark:border-gray-300 border-dashed border-[1.5px]"></span>
    
    <span class="absolute top-3 bottom-0 w-px border-l border-dashed border-gray-400 dark:border-gray-600"></span>
  </div>
  
  <!-- content -->
  <div class="flex items-center gap-4 flex-1 min-w-0">
    <div class="flex-1 min-w-0">
      <div class="truncate ">
        altogether
      </div>
      
      <div class="text-sm text-gray-500 dark:text-gray-400 mt-0.5">
        <time datetime="2026-01-23 19:23:21 -0800">
          2026-01-23 19:23:21 -0800
        </time>
      </div>
    </div>
    
    <div class="hidden">
      <a aria-label="Preview this version" href="/preview/cutemagick-homepage/24649ee132b7ad4b418d1d9df2274ec2416be4f1" target="_blank" data-history-action="preview" data-commit="24649ee132b7ad4b418d1d9df2274ec2416be4f1" data-tippy-content="Preview this version">
        👀
      </a>
      
      
      <button aria-label="Restore as draft" data-history-action="restore-draft" data-site="d1eba35a-198b-4724-8809-86082683f1d8" data-commit="24649ee132b7ad4b418d1d9df2274ec2416be4f1" data-tippy-content="Restore this point in time as a draft" hx-post="/sites/d1eba35a-198b-4724-8809-86082683f1d8/restore" hx-confirm="Are you sure? (This is non-destructive.)" hx-vals="{&quot;commit&quot;:&quot;24649ee132b7ad4b418d1d9df2274ec2416be4f1&quot;}" hx-on::after-request="
      const status = event.detail.xhr.status;
      
      if (status &lt; 200 || status &gt;= 300) {
        alert('That didn\'t work...');
        return;
      }
      
      alert('Draft restored. Check out your files');
      
      const siteId = this.dataset.site;
      const siteRoot = document.querySelector('#' + siteId);
      const filesTab = siteRoot?.querySelector('button[data-tab=&quot;files&quot;]');
      
      filesTab?.click();
      ">
      ⏪️
    </button>
    
    
    
    
  </div>
</div>
</div>
<div class="relative flex items-center gap-4 py-2 rounded-md hover:bg-gray-50 dark:hover:bg-gray-800">
  
  <!-- timeline -->
  <div class="relative flex flex-col items-center w-6 shrink-0">
    <span class="timeline-dot size-3 rounded-full border-gray-600 dark:border-gray-300 border-dashed border-[1.5px]"></span>
    
    <span class="absolute top-3 bottom-0 w-px border-l border-dashed border-gray-400 dark:border-gray-600"></span>
  </div>
  
  <!-- content -->
  <div class="flex items-center gap-4 flex-1 min-w-0">
    <div class="flex-1 min-w-0">
      <div class="truncate ">
        touching pricing
      </div>
      
      <div class="text-sm text-gray-500 dark:text-gray-400 mt-0.5">
        <time datetime="2026-01-23 19:22:45 -0800">
          2026-01-23 19:22:45 -0800
        </time>
      </div>
    </div>
    
    <div class="hidden">
      <a aria-label="Preview this version" href="/preview/cutemagick-homepage/31b63240b1773f2dc0818f699bbe1b27165c9e74" target="_blank" data-history-action="preview" data-commit="31b63240b1773f2dc0818f699bbe1b27165c9e74" data-tippy-content="Preview this version">
        👀
      </a>
      
      
      <button aria-label="Restore as draft" data-history-action="restore-draft" data-site="d1eba35a-198b-4724-8809-86082683f1d8" data-commit="31b63240b1773f2dc0818f699bbe1b27165c9e74" data-tippy-content="Restore this point in time as a draft" hx-post="/sites/d1eba35a-198b-4724-8809-86082683f1d8/restore" hx-confirm="Are you sure? (This is non-destructive.)" hx-vals="{&quot;commit&quot;:&quot;31b63240b1773f2dc0818f699bbe1b27165c9e74&quot;}" hx-on::after-request="
      const status = event.detail.xhr.status;
      
      if (status &lt; 200 || status &gt;= 300) {
        alert('That didn\'t work...');
        return;
      }
      
      alert('Draft restored. Check out your files');
      
      const siteId = this.dataset.site;
      const siteRoot = document.querySelector('#' + siteId);
      const filesTab = siteRoot?.querySelector('button[data-tab=&quot;files&quot;]');
      
      filesTab?.click();
      ">
      ⏪️
    </button>
    
    
    
    
  </div>
</div>
</div>
<div class="relative flex items-center gap-4 py-2 rounded-md hover:bg-gray-50 dark:hover:bg-gray-800">
  
  <!-- timeline -->
  <div class="relative flex flex-col items-center w-6 shrink-0">
    <span class="timeline-dot size-3 rounded-full border-gray-600 dark:border-gray-300 border-dashed border-[1.5px]"></span>
    
    <span class="absolute top-3 bottom-0 w-px border-l border-dashed border-gray-400 dark:border-gray-600"></span>
  </div>
  
  <!-- content -->
  <div class="flex items-center gap-4 flex-1 min-w-0">
    <div class="flex-1 min-w-0">
      <div class="truncate ">
        dont link to join page
      </div>
      
      <div class="text-sm text-gray-500 dark:text-gray-400 mt-0.5">
        <time datetime="2026-01-23 10:53:06 -0800">
          2026-01-23 10:53:06 -0800
        </time>
      </div>
    </div>
    
    <div class="hidden">
      <a aria-label="Preview this version" href="/preview/cutemagick-homepage/f1318825e9e98ef52d9a487d1d8b6a4e9479678e" target="_blank" data-history-action="preview" data-commit="f1318825e9e98ef52d9a487d1d8b6a4e9479678e" data-tippy-content="Preview this version">
        👀
      </a>
      
      
      <button aria-label="Restore as draft" data-history-action="restore-draft" data-site="d1eba35a-198b-4724-8809-86082683f1d8" data-commit="f1318825e9e98ef52d9a487d1d8b6a4e9479678e" data-tippy-content="Restore this point in time as a draft" hx-post="/sites/d1eba35a-198b-4724-8809-86082683f1d8/restore" hx-confirm="Are you sure? (This is non-destructive.)" hx-vals="{&quot;commit&quot;:&quot;f1318825e9e98ef52d9a487d1d8b6a4e9479678e&quot;}" hx-on::after-request="
      const status = event.detail.xhr.status;
      
      if (status &lt; 200 || status &gt;= 300) {
        alert('That didn\'t work...');
        return;
      }
      
      alert('Draft restored. Check out your files');
      
      const siteId = this.dataset.site;
      const siteRoot = document.querySelector('#' + siteId);
      const filesTab = siteRoot?.querySelector('button[data-tab=&quot;files&quot;]');
      
      filesTab?.click();
      ">
      ⏪️
    </button>
    
    
    
    
  </div>
</div>
</div>
<div class="relative flex items-center gap-4 py-2 rounded-md hover:bg-gray-50 dark:hover:bg-gray-800">
  
  <!-- timeline -->
  <div class="relative flex flex-col items-center w-6 shrink-0">
    <span class="timeline-dot size-3 rounded-full border-gray-600 dark:border-gray-300 border-dashed border-[1.5px]"></span>
    
    <span class="absolute top-3 bottom-0 w-px border-l border-dashed border-gray-400 dark:border-gray-600"></span>
  </div>
  
  <!-- content -->
  <div class="flex items-center gap-4 flex-1 min-w-0">
    <div class="flex-1 min-w-0">
      <div class="truncate ">
        github link active
      </div>
      
      <div class="text-sm text-gray-500 dark:text-gray-400 mt-0.5">
        <time datetime="2026-01-23 10:44:13 -0800">
          2026-01-23 10:44:13 -0800
        </time>
      </div>
    </div>
    
    <div class="hidden">
      <a aria-label="Preview this version" href="/preview/cutemagick-homepage/1d748968fd80a116207032c09ef5818bf777289c" target="_blank" data-history-action="preview" data-commit="1d748968fd80a116207032c09ef5818bf777289c" data-tippy-content="Preview this version">
        👀
      </a>
      
      
      <button aria-label="Restore as draft" data-history-action="restore-draft" data-site="d1eba35a-198b-4724-8809-86082683f1d8" data-commit="1d748968fd80a116207032c09ef5818bf777289c" data-tippy-content="Restore this point in time as a draft" hx-post="/sites/d1eba35a-198b-4724-8809-86082683f1d8/restore" hx-confirm="Are you sure? (This is non-destructive.)" hx-vals="{&quot;commit&quot;:&quot;1d748968fd80a116207032c09ef5818bf777289c&quot;}" hx-on::after-request="
      const status = event.detail.xhr.status;
      
      if (status &lt; 200 || status &gt;= 300) {
        alert('That didn\'t work...');
        return;
      }
      
      alert('Draft restored. Check out your files');
      
      const siteId = this.dataset.site;
      const siteRoot = document.querySelector('#' + siteId);
      const filesTab = siteRoot?.querySelector('button[data-tab=&quot;files&quot;]');
      
      filesTab?.click();
      ">
      ⏪️
    </button>
    
    
    
    
  </div>
</div>
</div>
<div class="relative flex items-center gap-4 py-2 rounded-md hover:bg-gray-50 dark:hover:bg-gray-800">
  
  <!-- timeline -->
  <div class="relative flex flex-col items-center w-6 shrink-0">
    <span class="timeline-dot size-3 rounded-full border-gray-600 dark:border-gray-300 border-dashed border-[1.5px]"></span>
    
    <span class="absolute top-3 bottom-0 w-px border-l border-dashed border-gray-400 dark:border-gray-600"></span>
  </div>
  
  <!-- content -->
  <div class="flex items-center gap-4 flex-1 min-w-0">
    <div class="flex-1 min-w-0">
      <div class="truncate ">
        no extra padding responsive side of sections
      </div>
      
      <div class="text-sm text-gray-500 dark:text-gray-400 mt-0.5">
        <time datetime="2026-01-23 10:36:59 -0800">
          2026-01-23 10:36:59 -0800
        </time>
      </div>
    </div>
    
    <div class="hidden">
      <a aria-label="Preview this version" href="/preview/cutemagick-homepage/cea96f72e4ab08b7000c6efb29aaa793e947b41b" target="_blank" data-history-action="preview" data-commit="cea96f72e4ab08b7000c6efb29aaa793e947b41b" data-tippy-content="Preview this version">
        👀
      </a>
      
      
      <button aria-label="Restore as draft" data-history-action="restore-draft" data-site="d1eba35a-198b-4724-8809-86082683f1d8" data-commit="cea96f72e4ab08b7000c6efb29aaa793e947b41b" data-tippy-content="Restore this point in time as a draft" hx-post="/sites/d1eba35a-198b-4724-8809-86082683f1d8/restore" hx-confirm="Are you sure? (This is non-destructive.)" hx-vals="{&quot;commit&quot;:&quot;cea96f72e4ab08b7000c6efb29aaa793e947b41b&quot;}" hx-on::after-request="
      const status = event.detail.xhr.status;
      
      if (status &lt; 200 || status &gt;= 300) {
        alert('That didn\'t work...');
        return;
      }
      
      alert('Draft restored. Check out your files');
      
      const siteId = this.dataset.site;
      const siteRoot = document.querySelector('#' + siteId);
      const filesTab = siteRoot?.querySelector('button[data-tab=&quot;files&quot;]');
      
      filesTab?.click();
      ">
      ⏪️
    </button>
    
    
    
    
  </div>
</div>
</div>
<div class="relative flex items-center gap-4 py-2 rounded-md hover:bg-gray-50 dark:hover:bg-gray-800">
  
  <!-- timeline -->
  <div class="relative flex flex-col items-center w-6 shrink-0">
    <span class="timeline-dot size-3 rounded-full border-gray-600 dark:border-gray-300 border-dashed border-[1.5px]"></span>
    
    <span class="absolute top-3 bottom-0 w-px border-l border-dashed border-gray-400 dark:border-gray-600"></span>
  </div>
  
  <!-- content -->
  <div class="flex items-center gap-4 flex-1 min-w-0">
    <div class="flex-1 min-w-0">
      <div class="truncate ">
        css updates
      </div>
      
      <div class="text-sm text-gray-500 dark:text-gray-400 mt-0.5">
        <time datetime="2026-01-23 10:33:59 -0800">
          2026-01-23 10:33:59 -0800
        </time>
      </div>
    </div>
    
    <div class="hidden">
      <a aria-label="Preview this version" href="/preview/cutemagick-homepage/47a46ba487df4cb8a83d515dd55576319f4aed74" target="_blank" data-history-action="preview" data-commit="47a46ba487df4cb8a83d515dd55576319f4aed74" data-tippy-content="Preview this version">
        👀
      </a>
      
      
      <button aria-label="Restore as draft" data-history-action="restore-draft" data-site="d1eba35a-198b-4724-8809-86082683f1d8" data-commit="47a46ba487df4cb8a83d515dd55576319f4aed74" data-tippy-content="Restore this point in time as a draft" hx-post="/sites/d1eba35a-198b-4724-8809-86082683f1d8/restore" hx-confirm="Are you sure? (This is non-destructive.)" hx-vals="{&quot;commit&quot;:&quot;47a46ba487df4cb8a83d515dd55576319f4aed74&quot;}" hx-on::after-request="
      const status = event.detail.xhr.status;
      
      if (status &lt; 200 || status &gt;= 300) {
        alert('That didn\'t work...');
        return;
      }
      
      alert('Draft restored. Check out your files');
      
      const siteId = this.dataset.site;
      const siteRoot = document.querySelector('#' + siteId);
      const filesTab = siteRoot?.querySelector('button[data-tab=&quot;files&quot;]');
      
      filesTab?.click();
      ">
      ⏪️
    </button>
    
    
    
    
  </div>
</div>
</div>
<div class="relative flex items-center gap-4 py-2 rounded-md hover:bg-gray-50 dark:hover:bg-gray-800">
  
  <!-- timeline -->
  <div class="relative flex flex-col items-center w-6 shrink-0">
    <span class="timeline-dot size-3 rounded-full border-gray-600 dark:border-gray-300 border-dashed border-[1.5px]"></span>
    
    <span class="absolute top-3 bottom-0 w-px border-l border-dashed border-gray-400 dark:border-gray-600"></span>
  </div>
  
  <!-- content -->
  <div class="flex items-center gap-4 flex-1 min-w-0">
    <div class="flex-1 min-w-0">
      <div class="truncate ">
        close path in logo
      </div>
      
      <div class="text-sm text-gray-500 dark:text-gray-400 mt-0.5">
        <time datetime="2026-01-23 10:27:44 -0800">
          2026-01-23 10:27:44 -0800
        </time>
      </div>
    </div>
    
    <div class="hidden">
      <a aria-label="Preview this version" href="/preview/cutemagick-homepage/4f965d60952be45f9645f3314823d9d6146eded8" target="_blank" data-history-action="preview" data-commit="4f965d60952be45f9645f3314823d9d6146eded8" data-tippy-content="Preview this version">
        👀
      </a>
      
      
      <button aria-label="Restore as draft" data-history-action="restore-draft" data-site="d1eba35a-198b-4724-8809-86082683f1d8" data-commit="4f965d60952be45f9645f3314823d9d6146eded8" data-tippy-content="Restore this point in time as a draft" hx-post="/sites/d1eba35a-198b-4724-8809-86082683f1d8/restore" hx-confirm="Are you sure? (This is non-destructive.)" hx-vals="{&quot;commit&quot;:&quot;4f965d60952be45f9645f3314823d9d6146eded8&quot;}" hx-on::after-request="
      const status = event.detail.xhr.status;
      
      if (status &lt; 200 || status &gt;= 300) {
        alert('That didn\'t work...');
        return;
      }
      
      alert('Draft restored. Check out your files');
      
      const siteId = this.dataset.site;
      const siteRoot = document.querySelector('#' + siteId);
      const filesTab = siteRoot?.querySelector('button[data-tab=&quot;files&quot;]');
      
      filesTab?.click();
      ">
      ⏪️
    </button>
    
    
    
    
  </div>
</div>
</div>
<div class="relative flex items-center gap-4 py-2 rounded-md hover:bg-gray-50 dark:hover:bg-gray-800">
  
  <!-- timeline -->
  <div class="relative flex flex-col items-center w-6 shrink-0">
    <span class="timeline-dot size-3 rounded-full border-gray-600 dark:border-gray-300 border-dashed border-[1.5px]"></span>
    
    <span class="absolute top-3 bottom-0 w-px border-l border-dashed border-gray-400 dark:border-gray-600"></span>
  </div>
  
  <!-- content -->
  <div class="flex items-center gap-4 flex-1 min-w-0">
    <div class="flex-1 min-w-0">
      <div class="truncate ">
        remove double title tag
      </div>
      
      <div class="text-sm text-gray-500 dark:text-gray-400 mt-0.5">
        <time datetime="2026-01-23 10:25:32 -0800">
          2026-01-23 10:25:32 -0800
        </time>
      </div>
    </div>
    
    <div class="hidden">
      <a aria-label="Preview this version" href="/preview/cutemagick-homepage/0a758ed828055bdf85772b2e0235a84070a05adc" target="_blank" data-history-action="preview" data-commit="0a758ed828055bdf85772b2e0235a84070a05adc" data-tippy-content="Preview this version">
        👀
      </a>
      
      
      <button aria-label="Restore as draft" data-history-action="restore-draft" data-site="d1eba35a-198b-4724-8809-86082683f1d8" data-commit="0a758ed828055bdf85772b2e0235a84070a05adc" data-tippy-content="Restore this point in time as a draft" hx-post="/sites/d1eba35a-198b-4724-8809-86082683f1d8/restore" hx-confirm="Are you sure? (This is non-destructive.)" hx-vals="{&quot;commit&quot;:&quot;0a758ed828055bdf85772b2e0235a84070a05adc&quot;}" hx-on::after-request="
      const status = event.detail.xhr.status;
      
      if (status &lt; 200 || status &gt;= 300) {
        alert('That didn\'t work...');
        return;
      }
      
      alert('Draft restored. Check out your files');
      
      const siteId = this.dataset.site;
      const siteRoot = document.querySelector('#' + siteId);
      const filesTab = siteRoot?.querySelector('button[data-tab=&quot;files&quot;]');
      
      filesTab?.click();
      ">
      ⏪️
    </button>
    
    
    
    
  </div>
</div>
</div>
<div class="relative flex items-center gap-4 py-2 rounded-md hover:bg-gray-50 dark:hover:bg-gray-800">
  
  <!-- timeline -->
  <div class="relative flex flex-col items-center w-6 shrink-0">
    <span class="timeline-dot size-3 rounded-full border-gray-600 dark:border-gray-300 border-dashed border-[1.5px]"></span>
    
    <span class="absolute top-3 bottom-0 w-px border-l border-dashed border-gray-400 dark:border-gray-600"></span>
  </div>
  
  <!-- content -->
  <div class="flex items-center gap-4 flex-1 min-w-0">
    <div class="flex-1 min-w-0">
      <div class="truncate ">
        correct open tag
      </div>
      
      <div class="text-sm text-gray-500 dark:text-gray-400 mt-0.5">
        <time datetime="2026-01-23 10:25:00 -0800">
          2026-01-23 10:25:00 -0800
        </time>
      </div>
    </div>
    
    <div class="hidden">
      <a aria-label="Preview this version" href="/preview/cutemagick-homepage/62a03c68aa042a29a248553daa18038e223a9f61" target="_blank" data-history-action="preview" data-commit="62a03c68aa042a29a248553daa18038e223a9f61" data-tippy-content="Preview this version">
        👀
      </a>
      
      
      <button aria-label="Restore as draft" data-history-action="restore-draft" data-site="d1eba35a-198b-4724-8809-86082683f1d8" data-commit="62a03c68aa042a29a248553daa18038e223a9f61" data-tippy-content="Restore this point in time as a draft" hx-post="/sites/d1eba35a-198b-4724-8809-86082683f1d8/restore" hx-confirm="Are you sure? (This is non-destructive.)" hx-vals="{&quot;commit&quot;:&quot;62a03c68aa042a29a248553daa18038e223a9f61&quot;}" hx-on::after-request="
      const status = event.detail.xhr.status;
      
      if (status &lt; 200 || status &gt;= 300) {
        alert('That didn\'t work...');
        return;
      }
      
      alert('Draft restored. Check out your files');
      
      const siteId = this.dataset.site;
      const siteRoot = document.querySelector('#' + siteId);
      const filesTab = siteRoot?.querySelector('button[data-tab=&quot;files&quot;]');
      
      filesTab?.click();
      ">
      ⏪️
    </button>
    
    
    
    
  </div>
</div>
</div>
<div class="relative flex items-center gap-4 py-2 rounded-md hover:bg-gray-50 dark:hover:bg-gray-800">
  
  <!-- timeline -->
  <div class="relative flex flex-col items-center w-6 shrink-0">
    <span class="timeline-dot size-3 rounded-full border-gray-600 dark:border-gray-300 border-dashed border-[1.5px]"></span>
    
    <span class="absolute top-3 bottom-0 w-px border-l border-dashed border-gray-400 dark:border-gray-600"></span>
  </div>
  
  <!-- content -->
  <div class="flex items-center gap-4 flex-1 min-w-0">
    <div class="flex-1 min-w-0">
      <div class="truncate ">
        favicon and share meta
      </div>
      
      <div class="text-sm text-gray-500 dark:text-gray-400 mt-0.5">
        <time datetime="2026-01-23 10:14:12 -0800">
          2026-01-23 10:14:12 -0800
        </time>
      </div>
    </div>
    
    <div class="hidden">
      <a aria-label="Preview this version" href="/preview/cutemagick-homepage/609e33e7a52c27b7fbde988dd9de4982e15d892e" target="_blank" data-history-action="preview" data-commit="609e33e7a52c27b7fbde988dd9de4982e15d892e" data-tippy-content="Preview this version">
        👀
      </a>
      
      
      <button aria-label="Restore as draft" data-history-action="restore-draft" data-site="d1eba35a-198b-4724-8809-86082683f1d8" data-commit="609e33e7a52c27b7fbde988dd9de4982e15d892e" data-tippy-content="Restore this point in time as a draft" hx-post="/sites/d1eba35a-198b-4724-8809-86082683f1d8/restore" hx-confirm="Are you sure? (This is non-destructive.)" hx-vals="{&quot;commit&quot;:&quot;609e33e7a52c27b7fbde988dd9de4982e15d892e&quot;}" hx-on::after-request="
      const status = event.detail.xhr.status;
      
      if (status &lt; 200 || status &gt;= 300) {
        alert('That didn\'t work...');
        return;
      }
      
      alert('Draft restored. Check out your files');
      
      const siteId = this.dataset.site;
      const siteRoot = document.querySelector('#' + siteId);
      const filesTab = siteRoot?.querySelector('button[data-tab=&quot;files&quot;]');
      
      filesTab?.click();
      ">
      ⏪️
    </button>
    
    
    
    
  </div>
</div>
</div>
<div class="relative flex items-center gap-4 py-2 rounded-md hover:bg-gray-50 dark:hover:bg-gray-800">
  
  <!-- timeline -->
  <div class="relative flex flex-col items-center w-6 shrink-0">
    <span class="timeline-dot size-3 rounded-full border-gray-600 dark:border-gray-300 border-dashed border-[1.5px]"></span>
    
    <span class="absolute top-3 bottom-0 w-px border-l border-dashed border-gray-400 dark:border-gray-600"></span>
  </div>
  
  <!-- content -->
  <div class="flex items-center gap-4 flex-1 min-w-0">
    <div class="flex-1 min-w-0">
      <div class="truncate ">
        text xl usp only on landscape
      </div>
      
      <div class="text-sm text-gray-500 dark:text-gray-400 mt-0.5">
        <time datetime="2026-01-23 06:11:52 -0800">
          2026-01-23 06:11:52 -0800
        </time>
      </div>
    </div>
    
    <div class="hidden">
      <a aria-label="Preview this version" href="/preview/cutemagick-homepage/316b09dbe6d48ff0de966b8317cb2b6aba4d5d1c" target="_blank" data-history-action="preview" data-commit="316b09dbe6d48ff0de966b8317cb2b6aba4d5d1c" data-tippy-content="Preview this version">
        👀
      </a>
      
      
      <button aria-label="Restore as draft" data-history-action="restore-draft" data-site="d1eba35a-198b-4724-8809-86082683f1d8" data-commit="316b09dbe6d48ff0de966b8317cb2b6aba4d5d1c" data-tippy-content="Restore this point in time as a draft" hx-post="/sites/d1eba35a-198b-4724-8809-86082683f1d8/restore" hx-confirm="Are you sure? (This is non-destructive.)" hx-vals="{&quot;commit&quot;:&quot;316b09dbe6d48ff0de966b8317cb2b6aba4d5d1c&quot;}" hx-on::after-request="
      const status = event.detail.xhr.status;
      
      if (status &lt; 200 || status &gt;= 300) {
        alert('That didn\'t work...');
        return;
      }
      
      alert('Draft restored. Check out your files');
      
      const siteId = this.dataset.site;
      const siteRoot = document.querySelector('#' + siteId);
      const filesTab = siteRoot?.querySelector('button[data-tab=&quot;files&quot;]');
      
      filesTab?.click();
      ">
      ⏪️
    </button>
    
    
    
    
  </div>
</div>
</div>
<div class="relative flex items-center gap-4 py-2 rounded-md hover:bg-gray-50 dark:hover:bg-gray-800">
  
  <!-- timeline -->
  <div class="relative flex flex-col items-center w-6 shrink-0">
    <span class="timeline-dot size-3 rounded-full border-gray-600 dark:border-gray-300 border-dashed border-[1.5px]"></span>
    
    <span class="absolute top-3 bottom-0 w-px border-l border-dashed border-gray-400 dark:border-gray-600"></span>
  </div>
  
  <!-- content -->
  <div class="flex items-center gap-4 flex-1 min-w-0">
    <div class="flex-1 min-w-0">
      <div class="truncate ">
        coming soon note
      </div>
      
      <div class="text-sm text-gray-500 dark:text-gray-400 mt-0.5">
        <time datetime="2026-01-22 19:30:00 -0800">
          2026-01-22 19:30:00 -0800
        </time>
      </div>
    </div>
    
    <div class="hidden">
      <a aria-label="Preview this version" href="/preview/cutemagick-homepage/82705dcf6df7f078a3a9a898e020b40b2ca30619" target="_blank" data-history-action="preview" data-commit="82705dcf6df7f078a3a9a898e020b40b2ca30619" data-tippy-content="Preview this version">
        👀
      </a>
      
      
      <button aria-label="Restore as draft" data-history-action="restore-draft" data-site="d1eba35a-198b-4724-8809-86082683f1d8" data-commit="82705dcf6df7f078a3a9a898e020b40b2ca30619" data-tippy-content="Restore this point in time as a draft" hx-post="/sites/d1eba35a-198b-4724-8809-86082683f1d8/restore" hx-confirm="Are you sure? (This is non-destructive.)" hx-vals="{&quot;commit&quot;:&quot;82705dcf6df7f078a3a9a898e020b40b2ca30619&quot;}" hx-on::after-request="
      const status = event.detail.xhr.status;
      
      if (status &lt; 200 || status &gt;= 300) {
        alert('That didn\'t work...');
        return;
      }
      
      alert('Draft restored. Check out your files');
      
      const siteId = this.dataset.site;
      const siteRoot = document.querySelector('#' + siteId);
      const filesTab = siteRoot?.querySelector('button[data-tab=&quot;files&quot;]');
      
      filesTab?.click();
      ">
      ⏪️
    </button>
    
    
    
    
  </div>
</div>
</div>
<div class="relative flex items-center gap-4 py-2 rounded-md hover:bg-gray-50 dark:hover:bg-gray-800">
  
  <!-- timeline -->
  <div class="relative flex flex-col items-center w-6 shrink-0">
    <span class="timeline-dot size-3 rounded-full border-gray-600 dark:border-gray-300 border-dashed border-[1.5px]"></span>
    
    <span class="absolute top-3 bottom-0 w-px border-l border-dashed border-gray-400 dark:border-gray-600"></span>
  </div>
  
  <!-- content -->
  <div class="flex items-center gap-4 flex-1 min-w-0">
    <div class="flex-1 min-w-0">
      <div class="truncate ">
        sfsdf
      </div>
      
      <div class="text-sm text-gray-500 dark:text-gray-400 mt-0.5">
        <time datetime="2026-01-22 14:46:19 -0800">
          2026-01-22 14:46:19 -0800
        </time>
      </div>
    </div>
    
    <div class="hidden">
      <a aria-label="Preview this version" href="/preview/cutemagick-homepage/044dcf4ad46fd09ae90a505dd96f712622f3c1a3" target="_blank" data-history-action="preview" data-commit="044dcf4ad46fd09ae90a505dd96f712622f3c1a3" data-tippy-content="Preview this version">
        👀
      </a>
      
      
      <button aria-label="Restore as draft" data-history-action="restore-draft" data-site="d1eba35a-198b-4724-8809-86082683f1d8" data-commit="044dcf4ad46fd09ae90a505dd96f712622f3c1a3" data-tippy-content="Restore this point in time as a draft" hx-post="/sites/d1eba35a-198b-4724-8809-86082683f1d8/restore" hx-confirm="Are you sure? (This is non-destructive.)" hx-vals="{&quot;commit&quot;:&quot;044dcf4ad46fd09ae90a505dd96f712622f3c1a3&quot;}" hx-on::after-request="
      const status = event.detail.xhr.status;
      
      if (status &lt; 200 || status &gt;= 300) {
        alert('That didn\'t work...');
        return;
      }
      
      alert('Draft restored. Check out your files');
      
      const siteId = this.dataset.site;
      const siteRoot = document.querySelector('#' + siteId);
      const filesTab = siteRoot?.querySelector('button[data-tab=&quot;files&quot;]');
      
      filesTab?.click();
      ">
      ⏪️
    </button>
    
    
    
    
  </div>
</div>
</div>
<div class="relative flex items-center gap-4 py-2 rounded-md hover:bg-gray-50 dark:hover:bg-gray-800">
  
  <!-- timeline -->
  <div class="relative flex flex-col items-center w-6 shrink-0">
    <span class="timeline-dot size-3 rounded-full border-gray-600 dark:border-gray-300 border-dashed border-[1.5px]"></span>
    
    <span class="absolute top-3 bottom-0 w-px border-l border-dashed border-gray-400 dark:border-gray-600"></span>
  </div>
  
  <!-- content -->
  <div class="flex items-center gap-4 flex-1 min-w-0">
    <div class="flex-1 min-w-0">
      <div class="truncate ">
        pricing on home
      </div>
      
      <div class="text-sm text-gray-500 dark:text-gray-400 mt-0.5">
        <time datetime="2026-01-21 19:29:20 -0800">
          2026-01-21 19:29:20 -0800
        </time>
      </div>
    </div>
    
    <div class="hidden">
      <a aria-label="Preview this version" href="/preview/cutemagick-homepage/0441f68eb3b7f3606210b56e0490e702abfb5c9a" target="_blank" data-history-action="preview" data-commit="0441f68eb3b7f3606210b56e0490e702abfb5c9a" data-tippy-content="Preview this version">
        👀
      </a>
      
      
      <button aria-label="Restore as draft" data-history-action="restore-draft" data-site="d1eba35a-198b-4724-8809-86082683f1d8" data-commit="0441f68eb3b7f3606210b56e0490e702abfb5c9a" data-tippy-content="Restore this point in time as a draft" hx-post="/sites/d1eba35a-198b-4724-8809-86082683f1d8/restore" hx-confirm="Are you sure? (This is non-destructive.)" hx-vals="{&quot;commit&quot;:&quot;0441f68eb3b7f3606210b56e0490e702abfb5c9a&quot;}" hx-on::after-request="
      const status = event.detail.xhr.status;
      
      if (status &lt; 200 || status &gt;= 300) {
        alert('That didn\'t work...');
        return;
      }
      
      alert('Draft restored. Check out your files');
      
      const siteId = this.dataset.site;
      const siteRoot = document.querySelector('#' + siteId);
      const filesTab = siteRoot?.querySelector('button[data-tab=&quot;files&quot;]');
      
      filesTab?.click();
      ">
      ⏪️
    </button>
    
    
    
    
  </div>
</div>
</div>
<div class="relative flex items-center gap-4 py-2 rounded-md hover:bg-gray-50 dark:hover:bg-gray-800">
  
  <!-- timeline -->
  <div class="relative flex flex-col items-center w-6 shrink-0">
    <span class="timeline-dot size-3 rounded-full border-gray-600 dark:border-gray-300 border-dashed border-[1.5px]"></span>
    
    <span class="absolute top-3 bottom-0 w-px border-l border-dashed border-gray-400 dark:border-gray-600"></span>
  </div>
  
  <!-- content -->
  <div class="flex items-center gap-4 flex-1 min-w-0">
    <div class="flex-1 min-w-0">
      <div class="truncate ">
        homepage
      </div>
      
      <div class="text-sm text-gray-500 dark:text-gray-400 mt-0.5">
        <time datetime="2026-01-21 18:21:14 -0800">
          2026-01-21 18:21:14 -0800
        </time>
      </div>
    </div>
    
    <div class="hidden">
      <a aria-label="Preview this version" href="/preview/cutemagick-homepage/aa12f191f9dc4ecf67569a7af86ded01dddb022b" target="_blank" data-history-action="preview" data-commit="aa12f191f9dc4ecf67569a7af86ded01dddb022b" data-tippy-content="Preview this version">
        👀
      </a>
      
      
      <button aria-label="Restore as draft" data-history-action="restore-draft" data-site="d1eba35a-198b-4724-8809-86082683f1d8" data-commit="aa12f191f9dc4ecf67569a7af86ded01dddb022b" data-tippy-content="Restore this point in time as a draft" hx-post="/sites/d1eba35a-198b-4724-8809-86082683f1d8/restore" hx-confirm="Are you sure? (This is non-destructive.)" hx-vals="{&quot;commit&quot;:&quot;aa12f191f9dc4ecf67569a7af86ded01dddb022b&quot;}" hx-on::after-request="
      const status = event.detail.xhr.status;
      
      if (status &lt; 200 || status &gt;= 300) {
        alert('That didn\'t work...');
        return;
      }
      
      alert('Draft restored. Check out your files');
      
      const siteId = this.dataset.site;
      const siteRoot = document.querySelector('#' + siteId);
      const filesTab = siteRoot?.querySelector('button[data-tab=&quot;files&quot;]');
      
      filesTab?.click();
      ">
      ⏪️
    </button>
    
    
    
    
  </div>
</div>
</div>
<div class="relative flex items-center gap-4 py-2 rounded-md hover:bg-gray-50 dark:hover:bg-gray-800">
  
  <!-- timeline -->
  <div class="relative flex flex-col items-center w-6 shrink-0">
    <span class="timeline-dot size-3 rounded-full border-gray-600 dark:border-gray-300 border-dashed border-[1.5px]"></span>
    
    <span class="absolute top-3 bottom-0 w-px border-l border-dashed border-gray-400 dark:border-gray-600"></span>
  </div>
  
  <!-- content -->
  <div class="flex items-center gap-4 flex-1 min-w-0">
    <div class="flex-1 min-w-0">
      <div class="truncate ">
        site
      </div>
      
      <div class="text-sm text-gray-500 dark:text-gray-400 mt-0.5">
        <time datetime="2026-01-21 14:25:36 -0800">
          2026-01-21 14:25:36 -0800
        </time>
      </div>
    </div>
    
    <div class="hidden">
      <a aria-label="Preview this version" href="/preview/cutemagick-homepage/3547903754860c436e92c98cf9a6e873e25b6bea" target="_blank" data-history-action="preview" data-commit="3547903754860c436e92c98cf9a6e873e25b6bea" data-tippy-content="Preview this version">
        👀
      </a>
      
      
      <button aria-label="Restore as draft" data-history-action="restore-draft" data-site="d1eba35a-198b-4724-8809-86082683f1d8" data-commit="3547903754860c436e92c98cf9a6e873e25b6bea" data-tippy-content="Restore this point in time as a draft" hx-post="/sites/d1eba35a-198b-4724-8809-86082683f1d8/restore" hx-confirm="Are you sure? (This is non-destructive.)" hx-vals="{&quot;commit&quot;:&quot;3547903754860c436e92c98cf9a6e873e25b6bea&quot;}" hx-on::after-request="
      const status = event.detail.xhr.status;
      
      if (status &lt; 200 || status &gt;= 300) {
        alert('That didn\'t work...');
        return;
      }
      
      alert('Draft restored. Check out your files');
      
      const siteId = this.dataset.site;
      const siteRoot = document.querySelector('#' + siteId);
      const filesTab = siteRoot?.querySelector('button[data-tab=&quot;files&quot;]');
      
      filesTab?.click();
      ">
      ⏪️
    </button>
    
    
    
    
  </div>
</div>
</div>
<div class="relative flex items-center gap-4 py-2 rounded-md hover:bg-gray-50 dark:hover:bg-gray-800">
  
  <!-- timeline -->
  <div class="relative flex flex-col items-center w-6 shrink-0">
    <span class="timeline-dot size-3 rounded-full border-gray-600 dark:border-gray-300 border-dashed border-[1.5px]"></span>
    
    <span class="absolute top-3 bottom-0 w-px border-l border-dashed border-gray-400 dark:border-gray-600"></span>
  </div>
  
  <!-- content -->
  <div class="flex items-center gap-4 flex-1 min-w-0">
    <div class="flex-1 min-w-0">
      <div class="truncate ">
        meta:vp
      </div>
      
      <div class="text-sm text-gray-500 dark:text-gray-400 mt-0.5">
        <time datetime="2026-01-20 13:08:25 -0800">
          2026-01-20 13:08:25 -0800
        </time>
      </div>
    </div>
    
    <div class="hidden">
      <a aria-label="Preview this version" href="/preview/cutemagick-homepage/5ecba0de495b01a7f63e1c783989d54a8e0aa644" target="_blank" data-history-action="preview" data-commit="5ecba0de495b01a7f63e1c783989d54a8e0aa644" data-tippy-content="Preview this version">
        👀
      </a>
      
      
      <button aria-label="Restore as draft" data-history-action="restore-draft" data-site="d1eba35a-198b-4724-8809-86082683f1d8" data-commit="5ecba0de495b01a7f63e1c783989d54a8e0aa644" data-tippy-content="Restore this point in time as a draft" hx-post="/sites/d1eba35a-198b-4724-8809-86082683f1d8/restore" hx-confirm="Are you sure? (This is non-destructive.)" hx-vals="{&quot;commit&quot;:&quot;5ecba0de495b01a7f63e1c783989d54a8e0aa644&quot;}" hx-on::after-request="
      const status = event.detail.xhr.status;
      
      if (status &lt; 200 || status &gt;= 300) {
        alert('That didn\'t work...');
        return;
      }
      
      alert('Draft restored. Check out your files');
      
      const siteId = this.dataset.site;
      const siteRoot = document.querySelector('#' + siteId);
      const filesTab = siteRoot?.querySelector('button[data-tab=&quot;files&quot;]');
      
      filesTab?.click();
      ">
      ⏪️
    </button>
    
    
    
    
  </div>
</div>
</div>
<div class="relative flex items-center gap-4 py-2 rounded-md hover:bg-gray-50 dark:hover:bg-gray-800">
  
  <!-- timeline -->
  <div class="relative flex flex-col items-center w-6 shrink-0">
    <span class="timeline-dot size-3 rounded-full border-gray-600 dark:border-gray-300 border-dashed border-[1.5px]"></span>
    
  </div>
  
  <!-- content -->
  <div class="flex items-center gap-4 flex-1 min-w-0">
    <div class="flex-1 min-w-0">
      <div class="truncate ">
        yay a website
      </div>
      
      <div class="text-sm text-gray-500 dark:text-gray-400 mt-0.5">
        <time datetime="2026-01-20 13:08:07 -0800">
          2026-01-20 13:08:07 -0800
        </time>
      </div>
    </div>
    
    <div class="hidden">
      <a aria-label="Preview this version" href="/preview/cutemagick-homepage/dc4e12bc9cb52549ebde52ec713d3091767ff4b9" target="_blank" data-history-action="preview" data-commit="dc4e12bc9cb52549ebde52ec713d3091767ff4b9" data-tippy-content="Preview this version">
        👀
      </a>
      
      
      <button aria-label="Restore as draft" data-history-action="restore-draft" data-site="d1eba35a-198b-4724-8809-86082683f1d8" data-commit="dc4e12bc9cb52549ebde52ec713d3091767ff4b9" data-tippy-content="Restore this point in time as a draft" hx-post="/sites/d1eba35a-198b-4724-8809-86082683f1d8/restore" hx-confirm="Are you sure? (This is non-destructive.)" hx-vals="{&quot;commit&quot;:&quot;dc4e12bc9cb52549ebde52ec713d3091767ff4b9&quot;}" hx-on::after-request="
      const status = event.detail.xhr.status;
      
      if (status &lt; 200 || status &gt;= 300) {
        alert('That didn\'t work...');
        return;
      }
      
      alert('Draft restored. Check out your files');
      
      const siteId = this.dataset.site;
      const siteRoot = document.querySelector('#' + siteId);
      const filesTab = siteRoot?.querySelector('button[data-tab=&quot;files&quot;]');
      
      filesTab?.click();
      ">
      ⏪️
    </button>
    
    
    
    
  </div>
</div>
</div>

  