<div
  class="secrets-editor p-4"
  data-site-uuid="{{siteId}}"
>
  <div class="history-notices space-y-3 mb-6">
    <h2 class="font-bold text-xl">
      Secrets
    </h2>

    <p>Use secrets for sensitive information (like passwords).</p>

    <a class="font-bold highlight" href="#">
      Read More
    </a>
  </div>

  <form class="secrets-form grid gap-3">
    <!-- rows injected here by JS -->
  </form>

  <div class="flex items-start justify-start pb-4">
    <button
      class="add-secret text-blue-500 dark:text-blue-700 font-bold"
      type="button"
    >
      + Add secret
    </button>
  </div>

  <button
    type="button"
    class="save-secrets w-full btn px-3! py-2!"
  >
    Save Secrets
  </button>
</div>
