<div class="p-4">
  <div class="history-notices space-y-3 mb-6">
    <h2 class="font-bold text-xl">
      Secrets
    </h2>
    
    <p>Use secrets for sensitive information (like passwords).</p>
    <a class="font-bold highlight" href="#">Read More</a>
    
    
  </div>
  <form class="grid gap-2">
    
    <div class="grid grid-cols-1 md:grid-cols-2 gap-3 items-center
    rounded-md
    bg-white/50 dark:bg-gray-900/50 pb-3">
    <input
    type="text"
    name="key"
    disabled
    placeholder="MODE"
    class="font-mono bg-transparent
    border-b border-gray-300 dark:border-gray-500
    focus:outline-none focus:border-indigo-400"
    />
    
    <input
    type="text"
    name="value"
    disabled
    placeholder="%AUTOMATIC%"
    class="font-mono bg-transparent
    border-b border-gray-300 dark:border-gray-500
    focus:outline-none focus:border-indigo-400"
    />
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-3 items-center
  rounded-md
  bg-white/50 dark:bg-gray-900/50 pb-6">
  <input
  type="text"
  name="key"
  placeholder="NEW_SECRET_NAME"
  class="font-mono bg-transparent
  border-b border-gray-300 dark:border-gray-500
  focus:outline-none focus:border-indigo-400"
  />
  
  <input
  type="text"
  name="value"
  placeholder="value"
  class="font-mono bg-transparent
  border-b border-gray-300 dark:border-gray-500
  focus:outline-none focus:border-indigo-400"
  />
</div>
<button type="submit" class="btn px-3! py-2!">Save Secrets</button>
</form>
</div>