<div
  class="settings-editor p-4"
  data-site-uuid="{{siteId}}"
>
  <div class="history-notices space-y-3 mb-6">
    <h2 class="font-bold text-xl">
      Settings
    </h2>

    {{#if wildcardDomain}}
    <div class="flex gap-3 rounded-md border border-gray-400 dark:border-gray-700
                bg-white/70 dark:bg-gray-900/70 p-3 leading-relaxed">
      <div class="text-lg">🎲</div>
      <p>
        Try
        <span class="font-mono text-sm bg-yellow-50 dark:bg-yellow-300/20">
          <strong class="italic highlight">anything.</strong>{{wildcardDomain}}
        </span>
        for your site URL.
      </p>
    </div>
    {{/if}}
  </div>

  <form class="settings-form grid gap-2">
    <div class="flex gap-2 items-center rounded-md bg-white/50 dark:bg-gray-900/50 pb-3">
      <label class="pr-2">Name</label>
      <input
        type="text"
        name="name"
        placeholder=""
        class="flex-1 bg-transparent border-b border-gray-300 dark:border-gray-500
               focus:outline-none focus:border-indigo-400"
      />
    </div>


    <!-- Site URL -->
    <div class="flex gap-2 items-center rounded-md bg-white/50 dark:bg-gray-900/50 pb-3">
      <label class="pr-2">Site URL</label>
      <input
        type="text"
        name="customDomain"
        required
        placeholder="your-domain.com"
        class="flex-1 bg-transparent border-b border-gray-300 dark:border-gray-500
               focus:outline-none focus:border-indigo-400"
      />
    </div>

    <!-- Icon URL -->
    <div class="flex gap-2 items-center rounded-md bg-white/50 dark:bg-gray-900/50 pb-3">
      <label class="pr-2">Icon URL</label>
      <input
        type="url"
        name="iconUrl"
        placeholder="optional"
        class="flex-1 bg-transparent border-b border-gray-300 dark:border-gray-500
               focus:outline-none focus:border-indigo-400"
      />
    </div>

    <!-- Remote Git -->
    <div class="flex gap-2 items-center rounded-md bg-white/50 dark:bg-gray-900/50">
      <label class="pr-2">Remote Git (optional)</label>
    </div>

    <div class="flex gap-2 items-center rounded-md bg-white/50 dark:bg-gray-900/50 pb-3">
      <input
        type="text"
        name="repository"
        placeholder="Repository URL"
        class="flex-1 bg-transparent border-b border-gray-300 dark:border-gray-500
               focus:outline-none focus:border-indigo-400"
      />
      <div class="w-full flex-1">
        <input
          type="text"
          name="branch"
          placeholder="Branch"
          class="w-full bg-transparent border-b border-gray-300 dark:border-gray-500
                focus:outline-none focus:border-indigo-400"
        />
      </div>
    </div>

    <!-- Password protection -->
    <div class="flex gap-2 items-center rounded-md bg-white/50 dark:bg-gray-900/50">
      <label class="pr-2">Password protection (optional)</label>
    </div>

    <div class="flex gap-2 items-center rounded-md bg-white/50 dark:bg-gray-900/50 pb-4">
      <input
        type="text"
        name="authUser"
        placeholder="Username"
        class="flex-1 bg-transparent border-b border-gray-300 dark:border-gray-500
               focus:outline-none focus:border-indigo-400"
      />
      <input
        type="password"
        name="authPass"
        placeholder="Password"
        class="flex-1 bg-transparent border-b border-gray-300 dark:border-gray-500
               focus:outline-none focus:border-indigo-400"
      />
    </div>

    <button
      type="submit"
      class="save-settings btn px-3! py-2!"
    >
      Save Settings
    </button>

    <button
      type="button"
      hx-post="/admin/sites/{{siteId}}/archive"
      hx-confirm="Are you sure? (This is non-destructive.)"
      hx-swap="none"
      hx-on::after-request="
        if (event.detail.successful) {
          const win = this.closest('.window');
          DraggableWindows.closeWindow(win);
          console.log('Site archived');
        } else {
          alert('That didn\'t work...');
        }
      "
      hx-on::after-request
      class="mt-4 text-sm text-amber-600 dark:text-amber-500"
    >
      Archive Site
    </button>
  </form>
</div>
