<div
  id="site-{{siteId}}-toolbar"
  class="site-toolbar shrink-0 flex items-center px-2 pt-2 pb-3
         border-t border-gray-400 dark:border-gray-700 text-sm"
  hx-get="/admin/site-window/{{siteId}}/toolbar"
  hx-trigger="refresh-toolbar from:body"
  hx-swap="outerHTML"
>
  <div class="relative flex flex-1 items-center justify-between gap-4">

    <div class="flex items-center gap-4">
      <a
        href="{{siteAddress}}"
        target="_blank"
        class="flex items-center gap-2"
        data-tippy-content="{{siteAddress}}"
      >
        <span>🌍</span>
      </a>
      <a
        href="/preview/{{directory}}"
        target="_blank"
        class="flex items-center gap-2"
        data-tippy-content="Preview"
      >
        <span>👀</span>
      </a>
    </div>
    <div id="site-actions-{{siteId}}">
      <div hx-trigger="revealed" hx-swap="innerHTML" hx-target="#site-actions-{{siteId}}" hx-get="/admin/site-window/{{siteId}}/actions"></div>
    </div>
  </div>
</div>
