<div class="flex flex-wrap place-self-start p-4 gap-8 lg:w-2/5">
  {{#each sites}}
  <button
  type="button"
  class="cursor-pointer group flex flex-col gap-2 font-bold items-center text-center"
  hx-on:click="
    const existing = document.getElementById('{{uuid}}');
    
    if (existing) {
      window.DraggableWindows?.focusWindow(existing);
      return;
    }


    const key = 'win-path-site-{{uuid}}';
    const currentPath = localStorage.getItem(key) || '';

    const url = currentPath
      ? `/sites/{{uuid}}/${currentPath}`
      : `/sites/{{uuid}}`;

    window.htmx.ajax('GET', url, {
      target: '#windows',
      swap: 'afterbegin'
    });
  "
>
      <div class="bg-cover bg-no-repeat bg-center rounded-md overflow-hidden group-hover:scale-110 transition-transform size-8" style="background-image: url('{{#if icon}}{{icon}}{{else}}/img/default-icon.png{{/if}}')"
      ></div>
      <h3 class="group-hover:text-blue-700 dark:group-hover:text-blue-400 underline underline-offset-1">
        {{name}}
      </h3>
    </button>
  {{/each}}
</div>